# Terraform files
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

# Crash logs
crash.log
crash.*.log

# Terraform CLI config
.terraformrc
terraform.rc

# Local environment files
.env

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/